<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunpx.mall.mapper.MUsersModelMapper">
  <resultMap id="BaseResultMap" type="com.sunpx.mall.dto.UserRolesDto">

    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="rolecode" jdbcType="INTEGER" property="rolecode" />
    <result column="mstatus" jdbcType="VARCHAR" property="mstatus" />
    <result column="mphone" jdbcType="VARCHAR" property="mphone" />
  </resultMap>

  <select id="findUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from m_users where m_username = #{username};
  </select>
  <select id="findUserRolesList" resultMap="BaseResultMap">
    SELECT u.m_username as username, ro.m_role_name as rolename, ro.m_role_code as rolecode, u.m_status as mstatus, u.m_phone as mphone
    FROM m_users AS u LEFT JOIN m_users_roles_relations AS re ON u.m_username = re.m_username
    INNER JOIN m_roles AS ro ON ro.m_role_code = re.m_roles_code
    <if test="username != ''">
           AND u.m_username = #{username}
    </if>
    <if test="phone != ''">
      AND u.m_phone = #{phone}
    </if>
  </select>
  <update id="updateUserStatus">
    UPDATE m_users SET m_status = #{mstatus} WHERE m_username = #{username}
  </update>

</mapper>